<%- include("partials/header.ejs") %>

<h1>Hang Dao</h1>

<ul>
    <li>Occupation: Web Developer</li>
    <li>Education: Troy University</li>
    <li>Contact: hangdao2003@gmail.com</li>
</ul>

<%- include("partials/footer.ejs") %>